## Load the data

In [1]:
import pandas as pd
import seaborn as sns

heetch_df = pd.read_csv("data/heetch.csv")

## Try to run the analysis you ran on wednesday (sizing + eliminating the bias)

In [2]:
heetch_df.head()

,Created At,Driver Id,Estimated Approach Duration,Estimated Price,Id,Origin Address,Origin Latitude,Origin Longitude,Payment Mode,State,User Id,pick_up_venue_type
0,2019-10-20 18:55:00,1000007.0,180.0,11,0edc6f9d-08a6-4e08-96cb-028bb8face34,"10 Rue Emile Reynaud - 75019 Paris, France",48.901567,2.387198,cash,terminated,456033,NaN
1,2019-10-23 1:22:59,1000007.0,240.0,9,2e3e0993-ca27-41dd-941f-3ac41bb11197,"7 Avenue Arago, 94340 Joinville-le-Pont",48.825007,2.473905,cash,terminated,180992,NaN
2,2019-10-22 0:28:04,1000007.0,120.0,14,3e871a03-875c-4461-b256-e3d2d3dd8390,8 Rue de Berri - 75008 Paris,48.872184,2.304016,cash,terminated,430968,NaN
3,2019-10-23 0:26:15,1000007.0,360.0,6,4c4d8595-9160-4880-b8bd-b157a5ba2b43,38 Rue Saint-Dominique - 75007 Paris,48.860068,2.311160,cash,canceled_by_user,1070974,NaN
4,2019-10-22 0:13:19,1000007.0,240.0,10,6c903bfb-dcc9-4a37-8620-6aaf3a933fcc,29 Rue du Docteur Babinski - 93400 Saint-Ouen,48.901163,2.332574,cash,terminated,603407,NaN

In [3]:
heetch_df.shape

(101043, 12)

In [4]:
heetch_df.columns

Index(['Created At', 'Driver Id', 'Estimated Approach Duration',
       'Estimated Price', 'Id', 'Origin Address', 'Origin Latitude',
       'Origin Longitude', 'Payment Mode', 'State', 'User Id',
       'pick_up_venue_type'],
      dtype='object')

In [5]:
heetch_df.pick_up_venue_type.unique()

array([nan, "Gare d'Austerlitz", 'Gare de Lyon', 'Gare du Nord',
       "Gare de L'Est", 'Gare de Montparnasse', 'Roissy', 'Orly'],
      dtype=object)

**Create the new column : "is_a_venue"**

In [15]:
heetch_df.loc[heetch_df['pick_up_venue_type'].notnull(),'is_a_venue'] = 'yes'
heetch_df.loc[heetch_df['pick_up_venue_type'].isnull(),'is_a_venue'] = 'no'

,Created At,Driver Id,Estimated Approach Duration,Estimated Price,Id,Origin Address,Origin Latitude,Origin Longitude,Payment Mode,State,User Id,pick_up_venue_type,is_a_venue
0,2019-10-20 18:55:00,1000007.0,180.0,11,0edc6f9d-08a6-4e08-96cb-028bb8face34,"10 Rue Emile Reynaud - 75019 Paris, France",48.901567,2.387198,cash,terminated,456033,NaN,no
1,2019-10-23 1:22:59,1000007.0,240.0,9,2e3e0993-ca27-41dd-941f-3ac41bb11197,"7 Avenue Arago, 94340 Joinville-le-Pont",48.825007,2.473905,cash,terminated,180992,NaN,no
2,2019-10-22 0:28:04,1000007.0,120.0,14,3e871a03-875c-4461-b256-e3d2d3dd8390,8 Rue de Berri - 75008 Paris,48.872184,2.304016,cash,terminated,430968,NaN,no
3,2019-10-23 0:26:15,1000007.0,360.0,6,4c4d8595-9160-4880-b8bd-b157a5ba2b43,38 Rue Saint-Dominique - 75007 Paris,48.860068,2.311160,cash,canceled_by_user,1070974,NaN,no
4,2019-10-22 0:13:19,1000007.0,240.0,10,6c903bfb-dcc9-4a37-8620-6aaf3a933fcc,29 Rue du Docteur Babinski - 93400 Saint-Ouen,48.901163,2.332574,cash,terminated,603407,NaN,no

In [21]:
heetch_df[heetch_df.State == "terminated"].is_a_venue.value_counts(normalize=True)

no     0.993419
yes    0.006581
Name: is_a_venue, dtype: float64

0,7% is a very small number compared to Uber's rough 7,5% of business.

**calculate average price of terminated rides from venues vs non venues**

In [37]:
heetch_df[heetch_df.is_a_venue == "yes"][heetch_df.State == "terminated"]["Estimated Price"].mean()

/Users/ninoraymond/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

17.01764705882353

In [39]:
heetch_df[heetch_df.is_a_venue == "no"][heetch_df.State == "terminated"]["Estimated Price"].mean()

/Users/ninoraymond/.pyenv/versions/3.7.7/envs/lewagon/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

12.52386766596958

In [43]:
0.993*12.52 + 17*0.007
12.52*100/12.55

99.7609561752988

In [8]:
heetch_venue_df = heetch_df[heetch_df.pick_up_venue_type.notnull()]
heetch_venue_df.head()

,Created At,Driver Id,Estimated Approach Duration,Estimated Price,Id,Origin Address,Origin Latitude,Origin Longitude,Payment Mode,State,User Id,pick_up_venue_type
326,2019-10-23 20:50:00,1000573.0,120.0,7,07043e13-25ed-4e3d-a211-ec2e6fe862bf,"Cour de D√©part, 75013 Paris",48.841764,2.367046,card,terminated,169941,Gare d'Austerlitz
765,2019-10-22 22:43:29,1000908.0,120.0,4,554f19f9-6ff9-4d03-9c0d-b3183436622a,"196 Rue de Bercy, 75012 Paris",48.844595,2.372195,card,terminated,235156,Gare de Lyon
837,2019-10-23 18:52:36,1001050.0,540.0,15,97cb9b29-18a2-4ede-bf87-9bb52f4238ee,"81 Avenue Pierre Mend√®s France, 75013 Paris",48.840918,2.366812,cash,terminated,336737,Gare d'Austerlitz
1382,2019-10-22 19:52:54,1001666.0,120.0,25,ca75bef4-6bcc-40b8-8025-23a2e145ea5a,190 Rue de Bercy - 75012 Paris,48.844293,2.373166,cash,terminated,1076171,Gare de Lyon
2118,2019-10-21 20:56:04,1003024.0,120.0,18,65860423-d53b-4b59-981d-ed5c9aca5f44,"4 Place Napol√©on III, 75010 Paris",48.880395,2.355344,cash,canceled_by_user,541575,Gare du Nord

**Business opportunity size**

In [ ]:
heetch_df[heetch_df.State = "terminated"]

In [12]:
heetch_venue_df.State.value_counts(normalize=True)

terminated            0.364807
canceled_by_user      0.262518
booking_failed        0.226037
canceled_by_driver    0.146638
Name: State, dtype: float64

In [13]:
heetch_df.State.value_counts(normalize=True)

terminated              0.766970
canceled_by_user        0.129658
canceled_by_driver      0.100145
booking_failed          0.003127
canceled_by_operator    0.000099
Name: State, dtype: float64

**calculating the missed opportunity**

## Try to picture on a graph where were the rides booked in both Orly and Roissy ? Does it give you a product insight ?